.welcome-jumbo {
    transform: translate3d(300px, 0, 0);
    max-width: calc(100vw - 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(134, 245, 106);
    /* Old browsers */
    background: -moz-radial-gradient(center,
            ellipse cover,
            rgb(72, 237, 99) 0%,
            rgb(38, 194, 33) 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center,
            ellipse cover,
            rgb(68, 187, 47) 0%,
            rgb(66, 190, 28) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,
            rgb(53, 192, 53) 0%,
            rgb(91, 212, 11) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    overflow: hidden;
    padding: 100px;

    .status {
        display: inline-block;
        padding: 7px 15px;
        font-size: .9rem;
        font-weight: 700;
        color: white;
        background: black;
        border-radius: 5px;
        align-self: flex-start;
        margin-bottom: 15px;
    }

    h1 {
        font-size: 3rem;
        font-weight: 900;
        align-self: flex-start;
        color: white;
        margin-bottom: 100px;
        text-transform: uppercase;
    }

    .burger-fries {
        width: 100%;
        // max-width: 1000px;
        position: relative;
        // animation: moveUpandDown 5s linear infinite;
    }

    // @keyframes moveUpandDown {
    //     0%, 100%{
    //         bottom: 0;
    //     }
    //     50%{
    //         bottom: 30px;
    //     }
    // }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .side-menu{

    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
